string

In [ ]:
sting is a sequence of character
Strings in python are surrounded by either single quotation marks, or double quotation marks.
'hello' is the same as "hello".

In [2]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [4]:
#assing variable to a string
a = "Hello"
print(a)

Hello

In [6]:
#indexs
a = "Hello, World!"
print(a[1])

e

In [8]:
#len
a = "Hello, World!"
print(len(a))

13

In [10]:
#checking whether the char is present in the string or not
txt = "The best things in life are free!"
print("free" in txt)

True

In [14]:
txt = "The best things in life are free!"
print("expensive" in txt)

False

In [16]:
#indexing
b = "Hello, World!"
print(b[2:5])

llo

In [18]:
b = "Hello, World!"
print(b[:5])

Hello

In [20]:
b = "Hello, World!"
print(b[:])

Hello, World!

In [22]:
#negative indexing
b = "Hello, World!"
print(b[-5:-2])

orl

In [24]:
#upper case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [32]:
a= "iam a data science student"
print(a.upper())

IAM A DATA SCIENCE STUDENT

In [26]:
#lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [36]:
a= "iam a data science student"
print(a.lower())

iam a data science student

In [28]:
#concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [30]:
#adding spaces
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [38]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str