Tuple;

Tuple:
it is a collection of elements,values,items,objects
Tuples are used to store multiple items in a single variable.
Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
A tuple is a collection which is ordered and unchangeable.
Tuples are written with round brackets and seperated by comma(,).
Tuples are immutable

In [13]:
#example
Fruits=("apple","banana","orange")
print(Fruits)
print(type(Fruits))

('apple', 'banana', 'orange')
<class 'tuple'>

In [37]:
word=('a','b','c','d',1,2,3,4,5,3+4j,True)
print(word)
print(type(word))

('a', 'b', 'c', 'd', 1, 2, 3, 4, 5, (3+4j), True)
<class 'tuple'>

In [17]:
tuple =(1,2,3,4,5,6,6,7,9)
print(tuple)

(1, 2, 3, 4, 5, 6, 6, 7, 9)

In [25]:
Fruits=("apple","banana","orange")
Fruits[2]#index

'orange'

In [27]:
Fruits=("apple","banana","orange","watermelon")
Fruits[3]#positive index

'watermelon'

In [29]:
Fruits[-3]#negative index

'banana'

In [39]:
word=('a','b','c','d',1,2,3,4,5,3+4j,True)#slicing
word[2:8]

('c', 'd', 1, 2, 3, 4)

In [41]:
Fruits=("apple","banana","orange","watermelon")
Fruits[0:3]

('apple', 'banana', 'orange')

In [43]:
Fruits[0:]

('apple', 'banana', 'orange', 'watermelon')

In [45]:
Fruits[:]

('apple', 'banana', 'orange', 'watermelon')

In [53]:
Fruits[:4]

('apple', 'banana', 'orange', 'watermelon')

In [55]:
#concatenation
Numbers =(11,22,33,44,55,666,77,88)
char=("data","science")
x = Numbers+char
print(x)

(11, 22, 33, 44, 55, 666, 77, 88, 'data', 'science')

In [57]:
tuple =(1,2,3,4,5,6,6,7,9)
word=('a','b','c','d',1,2,3,4,5,3+4j,True)
x =tuple+word
print(x)
print(type(x))

(1, 2, 3, 4, 5, 6, 6, 7, 9, 'a', 'b', 'c', 'd', 1, 2, 3, 4, 5, (3+4j), True)
<class 'tuple'>

In [72]:
#repetation of tuples

tuple*2

(1, 2, 3, 4, 5, 6, 6, 7, 9, 1, 2, 3, 4, 5, 6, 6, 7, 9)

In [94]:
#Methods or Functions in tuple

# couunt
tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
print(tuple.count(5))


thistuple = (1, 3, 7, 8, 7, 44,55,66,7,7,88,5, 4, 6, 8, 5)

x = thistuple.count(7)

print(x)

2
4

In [98]:
Tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2) 
Tuple2 = ('python', 'geek', 'python', 'for', 'java', 'python') 
print(Tuple1.count(3))

3

In [82]:
# we can update the tuple by using list
x = ("apple", "banana", "cherry")
y = list(x)
y = "kiwi"
x = tuple(y)

print(x)

TypeError: 'tuple' object is not callable

In [86]:
#append
tuple = ("apple", "banana", "cherry")
y = list(tuple)
y.append("orange")
tuple = tuple(y)

TypeError: 'tuple' object is not callable

In [100]:
#len method
Tuple =( 1, 0, 4, 2, 5, 6, 7, 5)
print(len(Tuple))

8